<script>
    export let char;
    export let code;

    let displayValue = code;

    const handleMouseOver = () => {
        displayValue = char;
        setTimeout(() => {
            displayValue = code;
        }, 700);
    };
</script>

<span class="font-mono" on:mouseover={handleMouseOver}>
    {displayValue}
</span>