<script>
    import AnimatedASCIICharacter from './AnimatedASCIICharacter.svelte';
    let asciiCharacters = [
        { code: 65, char: 'A'},
        { code: 83, char: 'S'},
        { code: 67, char: 'C'},
        { code: 73, char: 'I'},
        { code: 73, char: 'I'},
        { code: 32, char: ' '},
        { code: 76, char: 'L'},
        { code: 65, char: 'A'},
        { code: 64, char: 'B'},
    ];
</script>

<style>

</style>

<p>
    {#each asciiCharacters as char}
        <AnimatedASCIICharacter {...char} />
    {/each}
</p>