<script>
  import Header from "./Header.svelte";
  import Signup from "./Signup.svelte";

  import "smelte/src/tailwind.css";
</script>

<style>
  :global(html) {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  }

  main {
    height: 95vh;
  }
</style>

<Header />
<main class="flex flex-col justify-center items-center">
  <h1 class="mb-4"><a class="border-b-2 border-dashed border-gray-500 dark:border-gray-100" href="https://en.wikipedia.org/wiki/ASCII">ASCII</a> Lab</h1>
  <p class="mb-8">A community for learning and discovery</p>
  <Signup />
</main>
<footer class="text-center">&#169; asciilabsalem.com 2021</footer>
