<script>
    import { Switch } from "smelte";
    import dark from "smelte/src/dark";
    import { moonO, sunO } from "svelte-awesome/icons";
    import Icon from "svelte-awesome";
    import ASCIILogo from "./logo/ASCIILogo.svelte";

    let darkMode = dark();
</script>

<style>
    header {
        width: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>

<header class="p-4">
    <ASCIILogo />
    <div class="flex">
        <Icon class="mr-2" data={$darkMode ? moonO : sunO } />
        <Switch bind:value={$darkMode} />
    </div>
</header>