<script>
  import { TextField, Button, Dialog } from "smelte";
  import { string } from "yup";

  let email = '';
  const validation = string().required().email();
  let isValidEmail = false;
  $: validation.isValid(email).then((ok) => { isValidEmail = ok })

  let errorMessage = '';

  const handleInputKey= () => {
    errorMessage = '';
  }

  const handleSubmit = (e) => {
    e.preventDefault();
    if (!isValidEmail) {
      errorMessage = `Hmm... something isn't right`;
    } else {
      fetch('/api/signup', {
        method: 'POST',
        mode: 'same-origin',
        headers: {
          'content-type': 'application/json'        
        },
        body: JSON.stringify({ email }),
      }).then(() => {
        showSuccessDialog = true;
        email = '';
      })
    }
  }

  let showSuccessDialog = false;
</script>

<form class="flex flex-col items-center" on:submit={handleSubmit}>
  <TextField label="Email" 
    outlined 
    bind:value={email} 
    on:keypress={handleInputKey} 
    error={errorMessage} />

  {#if isValidEmail}
    <Button type="submit">Sign Me Up!</Button>
  {:else}
    <p>Enter your email to get updates.</p>
  {/if}
</form>
<Dialog bind:value={showSuccessDialog}>
  <div class="p-4">Thank you for your interest, we've be in touch shortly!</div>
  <div slot="actions">
    <Button text on:click={() => showSuccessDialog = false}>Hooray</Button>
  </div>
</Dialog>